img {
    height: 50px;
}

#nav-bar {
    background-color:black;
    color: white
}

#main-page {
    background-color:blue;
    color: white;
}

#search {
    background-color: yellow;
    color: black;

}

#searched-github-users {
    background-color:red;
    color: black;

}

#dashboard {
    background-color:green;
    color: black;
}