img {
    height: 50px;
}
body {
    background-color: rgb(60, 65, 92);
}

#nav-bar {
    background-color: rgb(48, 27, 63);
    color: white
}

#main-page {
    background-color: rgb(100, 223, 223);
    color: white;
}

#search {
    background-color: yellow;
    color: black;

}

#searched-github-users {
    background-color:red;
    color: black;

}

#dashboard {
    background-color:green;
    color: black;
}

